/* TODO: swap px to rem */

/* reset layout for easier styling */ 
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Avenir", sans-serif;
    background-color: white;
}

.resumeContent {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h1.name, h1.resumeName {
    text-transform: uppercase;
    font-size: 4rem;
}

h1.resumeName {
    text-align: center;
    padding-top: 1.5rem;
    text-transform: lowercase;
}

h3.descriptionTitle {
    text-transform: uppercase;
    font-size: 1.25rem;
}

h3.resumeSubheader {
    text-transform: lowercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ACA7CB;
}

h4.description, h4.resumeDescription  {
    font-size: 1rem;
    font-weight: 200;
}

h4.resumeDescription {
    text-align: center;
}

a:link, a:visited  {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color: #CDCDCD;
    text-decoration: none;
}

/* apperance of the navigation bar (three lines) */ 
#navBar {
    font-size: 2rem;;
    cursor:pointer; 
    float: left; 
    margin-top: 0.1rem; 
    margin-left: 0.5rem; 
    color: black;
} 

/* apperance of navigation selection */ 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    z-index: 2;
}

/* apperance of each choice in the navigation bar */ 
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;
}

/* apperance of each choice in the navigation bar when the user hovers each choice*/ 
.sidenav a:hover {
    color: #ACA7CB;
    text-decoration: none;
}

/* apperance of the close button ('x') of the navigation bar*/ 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

.center {
    transform: translateY(5%) translateX(-2%);
    position: relative;
}

.firstName {
    transform: translateX(27%); 
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Avenir";
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  
.active, .accordion:hover {
    background-color: #ccc;
}

.panel,li,p {
    transition: max-height 0.2s ease-out;
    font-family: "Avenir";
    font-size: 0.7rem;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 1rem;
}

p.skillsText {
    font-size: 0.9em;
}

