* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Avenir", sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #1E1E1E;
    font-weight: 100;
}
h2 {
    text-align: center;
    font-size: 80px; 
    color: #ACA7CB;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #1E1E1E;
    font-weight: 100;
}

h4 {
    text-align: left;
    font-size: 35px;
    text-transform: lowercase;
    font-weight: 600;
    margin-left: 2%;
    color: #ACA7CB;
    margin-top: 1.2em;
}

h5,li {
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    margin: 0 2%;
    color: #1E1E1E;
}

p {
    font-size: 14px; 
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

.leftfloat {
    float: left;
}

.rightfloat {
    float: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #ACA7CB;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*Image Gallery*/
div.gallery:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

div.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
div.desc {
  text-align: center;
}
  
.responsive {
    float: left;
    width: 49.99999%;
}

  @media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }