* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Avenir", sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #1E1E1E;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-size: 80px;
    color: #ACA7CB;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #1E1E1E;
    font-weight: 100;
}

h4 {
    text-align: left;
    font-size: 35px;
    text-transform: lowercase;
    font-weight: 600;
    margin-left: 2%;
    color: #ACA7CB;
    margin-top: 0.5em;
}

h5,li {
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    margin: 0 2%;
    color: #1E1E1E;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

a:hover {
    color: #ACA7CB;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ACA7CB;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 96%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Avenir";
    font-size: 20px;
    margin: 0 2%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }

.panel li, p {
    font-family: "Avenir";
    font-size: 16px;
    margin: 5px 45px;
}

.panel {
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.title {
    font-weight: 800;
}

.button {
    display: inline-block;
    background-color: #ACA7CB;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    left: 0;
    bottom: 0;
    position: fixed;
    visibility: hidden;
    transition: width 2s;
    font-family: "Avenir";
    font-weight: 100;
    z-index: 1;
    height: 5%;
    visibility: visible;
  }
  
  .button a {
    font-family: "Avenir", sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7em;
    margin: 30px;
  }
  
  .button:hover {
    opacity: 0.9;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.active, .accordion:hover {
    background-color: #ccc;
}

/*Works Portfolio*/

/* this section of code is already mobile-already! */ 
.container {
    max-width: 100%;
  }

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
}

.cell img:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .cell {
        width: 50%;
      }
  }

.br-on-mobile {
    display: none;
}

@media screen and (max-width: 450px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 16px;
    }

    .accordion {
        font-size: 12px;
    }

    .panel li, p, .title {
        font-size: 10px;
        margin: 5px 24px;
    }

    h4 {
        font-size: 35px;
    }

    .br-on-mobile {
        display: static;
    }
}